---
apiVersion: backstage.io/v1alpha1
kind: Group
metadata:
  name: <GITHUB_USER_NAME>
spec:
  type: team
  children: []

---
# https://backstage.io/docs/features/software-catalog/descriptor-format#kind-user
apiVersion: backstage.io/v1alpha1
kind: User
metadata:
  name: <GITHUB_USER_NAME>
spec:
  memberOf: [developers]